
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#69d2e7;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #000000;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 400px; /* Same as the width of the sidenav */
  text-align:center
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}





.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

</style>
</head>
<body>
 
  <input type="hidden" value="<%=userdata.code%>" name = "instructor" >    

<div class="sidenav">
    <br>
          
  <a href="/logout">Logout</a>
  <a href="/add-class">Add Class</a>
  <a href="/attendance/take">Take Attendance</a>
  
</div>

<div class="main">
  <h1>Pulchowk Campus Class Attendance</h1>

 
  <h2> Teacher's Dashboard</h2>

  <h2>  <%=userdata.username%>'s Recent Classes</h2>


  <% data.forEach(function(attendance){ %>

    <form action="/student/namelist" method="POST">
    <div class="card" id ="<%=attendance.class%>_<%=attendance.subject%>_<%=attendance.date%>" style = "display: none;position:absolute;background-color:#69d2e7;">
      <div class="container">
        <h4><b><input type = "hidden" name= "classid" value ="<%=attendance.class%>">   <p><%=attendance.subject%></p> </b></h4> 
       <input type="hidden" value= "<%=attendance.subjectCode%>" name ="subjectcode" >
        <p><%=attendance.class%></p>  
        <h><%=attendance.date%></h>
        <p>Instructor: <%=attendance.instructor%> </p></p> Year: <%=attendance.year%> Part <%=attendance.part%></p> 
        <button type="submit">Take Attendance</button>
        <button><a href = "/attendance/all/<%=attendance.class%>/<%=attendance.subjectCode%>/<%=userdata.code%>">View Attendance History</a></button>
        
      
      </form>  
        
      </div>
    </div>


    <button name="<%=attendance.class%>_<%=attendance.subject%>_<%=attendance.date%>"  onclick="openForm(this.name)" ><%=attendance.class%>_<%=attendance.subject%>_<%=attendance.date%></button><br>

    
    <% }) %>



   
</body>
<script>
  function openForm(id) {
    if(document.getElementById(id).style.display =="none")
    document.getElementById(id).style.display = "block";

  else 
    document.getElementById(id).style.display = "none";
  }
  </script>
</html> 