<!DOCTYPE html>
<html>
<head>



<style>
table, th, td {
  border: 1px solid rgb(78, 18, 146);

}
</style>
</head>
<body>
    <form name="theForm" action= "/attendance/submit" method="post">
      <input type="hidden" value="<%=userdata.id%>" name = "instructor" > 
      <input type="hidden" value="<%=classes[0].id%>" name = "class_id" > 
<div class = container>
      <div class="form-row">

      <div class="form-group col-md-6">
          <h1>Select Subject</h1>
        <select id="Subject" class="form-control" name="subject_code">
            <% subjects.forEach(function(Subject){ %>


                <option><%=Subject.code%>(<%=Subject.subject%>) </option>
                
                <% }) %>
        </select>
          
        
      </div>
      <div class="form-group col-md-6">
    
        <% if((classes[0].classType=='L') ) {%>
        <input type="hidden" name="classType" value="<%=classes[0].classType%>" >
          <h1> Class Type</h1>
        <p>Lecture Class</p>
          <%}%> 
          <% if((classes[0].classType=='P') ) {%>
            <input type="hidden" name="classType" value="<%=classes[0].classType%>">
            <h1> Class Type</h1>
            <p>Practical Class</p>
            <%}%> 


         <% if(!(classes[0].classType=='L'||classes[0].classType=='P') ) {%>
            <h2> Select Class Type</h2>
          <select id="classType" class="form-control" name="classType">
    
                  <option>Lecture </option>
                  <option>Practical </option>
                            
          </select>
         <%}%> 

    </div>

    </div>
</div>

<table id = "tableu">
  <col width="150">
  <col width="200">
  <col width="80">
  <tr>
    <th>Roll_no</th>
    <th>Name</th>
    <th>Status</th>
  </tr>
  <% students.forEach(function(Student){ %>
  <tr>
    <td><%=Student.roll_no%></td>
    <td><%=Student.name%></td>
    
    <td>
      
        <input type="checkbox" id="<%=Student.roll_no%>" name="<%=Student.roll_no%>"  onclick= "changeStatus(this.id)"  > 
    </td>
  </tr>
  <% }) %> 
</table>
</br>
<button type="submit" >Submit</button>
</form>


</body>

<script>
function changeStatus(id)
{
if (document.getElementById(id).checked==true)
{document.getElementById(id).value="present"


}
else if (document.getElementById(id).checked==false)
{document.getElementById(id).value="absent"

}



}

</script>




</html>
