<!DOCTYPE html>
<html>
<head>



<style>

</style>
</head>
<body>
    
    <form name="theForm" action= "/attendance/takeOnlineNext" method="post" enctype="multipart/form-data" >
        <h1>Select Subject</h1>
        <input type= "hidden" value="<%=details.batch%>" name="batch">
        <input type= "hidden" value="<%=details.program%>" name="program">
        <input type= "hidden" value="<%=details.year%>" name="year">
        <input type= "hidden" value="<%=details.part%>" name="part">
        <input type= "hidden" value="<%=details.section%>" name="section">
        <select id="Subject" class="form-control" name="subject_code">
            <% subjects.forEach(function(Subject){ %>


                <option><%=Subject.code%>(<%=Subject.subject%>) </option>
                
                <% }) %>
        </select>

        <h2> Select Class Type</h2>
        <select id="classType" class="form-control" name="classType">
  
                <option>Lecture </option>
                <option>Practical </option>
                          
        </select>


       <h2>Select Attendance File</h2> 
       <input  type='file' name="atten_file" id="attendance"/>
     



<button  type="submit"  style="width: 100px;height:40px; background-color:#69d2e7; position:static; margin-top: 50px; border-radius: 10px;" type="submit" >Submit</button>
</form>


</body>

<script>


</script>




</html>
